.container{
    display: flex;
    flex-direction: column;
}
.first-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.one{
    border:1px solid black;
    flex: 1;
    padding: 10px;
    background-color: rgb(197, 246, 235);
}

.second-container {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.five {
    flex: 2;
    border:1px solid black;
    padding: 10px;
    background-color: rgb(197, 246, 235);
}

.six {
    flex: 1;
    background-color: rgb(197, 246, 235);
    border: 1px solid black;
    padding: 10px;
}

@media (max-width:500px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .first-container{
        display: flex;
        flex-direction: column;
    }
    .second-container{
        display: flex;
        flex-direction: column;
    }
}